@model HotelViewModel;

<div class="card shadow-none" id="basic_info">
	<div class="card-header">
		<div class="d-flex align-items-center justify-content-between">
			<h5 class="fs-18">@Localizer["Hotel Details"]</h5>
		</div>
	</div>
	<div class="card-body pb-1">
		<div class="row">
			<div class="col-md-12">
				<div class="mb-3">
					<label class="form-label">@Localizer["Hotel Name"]</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<label class="form-label">@Localizer["Type"]</label>
					<select class="select">
						<option value="">@Localizer["Select"]</option>
						<option value="Hotels">@Localizer["Hotels"]</option>
						<option value="Villa">@Localizer["Villa"]</option>
						<option value="Apartment">@Localizer["Apartment"]</option>
						<option value="Guest House">@Localizer["Guest House"]</option>
						<option value="Lodge">@Localizer["Lodge"]</option>
					</select>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<label class="form-label">@Localizer["Valid From"]</label>
					<div class="input-icon-end position-relative">
						<input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" value="02-05-2024">
						<span class="input-icon-addon">
							<i class="isax isax-calendar"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<label class="form-label">@Localizer["Valid Until"]</label>
					<div class="input-icon-end position-relative">
						<input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" value="02-05-2024">
						<span class="input-icon-addon">
							<i class="isax isax-calendar"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<label class="form-label">@Localizer["Rating"]</label>
					<select asp-for="Rating" class="select">
						<option value="0">Select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<label class="form-label">@Localizer["Available Spots"]</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<label class="form-label">@Localizer["Price"]</label>
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card shadow-none" id="location">
	<div class="card-header">
		<div class="d-flex align-items-center justify-content-between">
			<h5 class="fs-18">@Localizer["Location"]</h5>
		</div>
	</div>
	<div class="card-body pb-1">
		<div class="row">
			@* <div class="col-xl-3 col-md-6">
				<div class="mb-3">
					<label class="form-label">Country</label>
					<select class="select">
						<option>Select</option>
						<option>United States</option>
						<option>Canada</option>
						<option>United Kingdom</option>
					</select>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="mb-3">
					<label class="form-label">City</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="mb-3">
					<label class="form-label">State</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="mb-3">
					<label class="form-label">Zip Code</label>
					<input type="text" class="form-control">
				</div>
			</div> *@
			<div class="col-md-12">
				<div class="mb-3">
					<label class="form-label">@Localizer["Address"]</label>
					<input type="text" class="form-control">
				</div>
			</div>
			@* <div class="col-md-12">
				<div class="mb-3">
					<label class="form-label">Address 1</label>
					<input type="text" class="form-control">
				</div>
			</div> *@
		</div>
	</div>
</div>
@* <div class="card shadow-none" id="highlights">
	<div class="card-header">
		<div class="d-flex align-items-center justify-content-between">
			<h5 class="fs-18">Highlights</h5>
		</div>
	</div>
	<div class="card-body">
		<div class="row add-highlight-info">
			<div class="col-md-12">
				<div class="mb-3">
					<label class="form-label">Highlights</label>
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
		<div>
			<a href="javascript:void(0);" class="btn btn-primary btn-sm add-highlight"><i class="isax isax-add-circle me-1"></i>Add New</a>
		</div>
	</div>
</div> *@
@* <div class="card shadow-none">
	<div class="card-header">
		<div class="d-flex align-items-center justify-content-between">
			<h5 class="fs-18">Services</h5>
		</div>
	</div>
	<div class="card-body pb-1">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-1">
						<label class="form-check-label ms-2" for="service-1">
							24-Hour Room Service
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-2">
						<label class="form-check-label ms-2" for="service-2">
							In-Room Dining
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-3">
						<label class="form-check-label ms-2" for="service-3">
							Concierge Services
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-4">
						<label class="form-check-label ms-2" for="service-4">
							Daily Housekeeping
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-5">
						<label class="form-check-label ms-2" for="service-5">
							Front Desk Services
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-6">
						<label class="form-check-label ms-2" for="service-6">
							On-Site Restaurants
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-7">
						<label class="form-check-label ms-2" for="service-7">
							Check-In/Check-Out Assistance
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-8">
						<label class="form-check-label ms-2" for="service-8">
							Free luggage deposit
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-9">
						<label class="form-check-label ms-2" for="service-9">
							Laundry and Ironing Service
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-10">
						<label class="form-check-label ms-2" for="service-10">
							Dry Cleaning Service
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-11">
						<label class="form-check-label ms-2" for="service-11">
							Hair and Beauty Service
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-12">
						<label class="form-check-label ms-2" for="service-12">
							In-Room Spa Treatments
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-13">
						<label class="form-check-label ms-2" for="service-13">
							Valet Parking
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-14">
						<label class="form-check-label ms-2" for="service-14">
							Babysitting
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-15">
						<label class="form-check-label ms-2" for="service-15">
							Dry Cleaning Service
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-16">
						<label class="form-check-label ms-2" for="service-16">
							Wake-Up Call Service
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-17">
						<label class="form-check-label ms-2" for="service-17">
							Translator Service
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-18">
						<label class="form-check-label ms-2" for="service-18">
							Currency Exchange Service
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> *@
@* <div class="card shadow-none">
	<div class="card-header">
		<div class="d-flex align-items-center justify-content-between">
			<h5 class="fs-18">Accessibility</h5>
		</div>
	</div>
	<div class="card-body pb-1">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-1">
						<label class="form-check-label ms-2" for="accessibility-1">
							Wheelchair accessible
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-2">
						<label class="form-check-label ms-2" for="accessibility-2">
							Visual alarms in hallways
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-3">
						<label class="form-check-label ms-2" for="accessibility-3">
							Elevator
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-4">
						<label class="form-check-label ms-2" for="accessibility-4">
							Braille/raised signage
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-5">
						<label class="form-check-label ms-2" for="accessibility-5">
							Roll-in shower with a bench or seat
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-6">
						<label class="form-check-label ms-2" for="accessibility-6">
							Grab bars near the toilet and shower
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-7">
						<label class="form-check-label ms-2" for="accessibility-7">
							Wheelchair-accessible gym
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-8">
						<label class="form-check-label ms-2" for="accessibility-8">
							Wheelchair-accessible business center
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-9">
						<label class="form-check-label ms-2" for="accessibility-9">
							Wheelchair-accessible lounge
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-10">
						<label class="form-check-label ms-2" for="accessibility-10">
							Wheelchair-accessible concierge desk
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-11">
						<label class="form-check-label ms-2" for="accessibility-11">
							Lowered towel racks
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-12">
						<label class="form-check-label ms-2" for="accessibility-12">
							Braille on room numbers, elevator buttons
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-13">
						<label class="form-check-label ms-2" for="accessibility-13">
							Step-free or ramped access
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-14">
						<label class="form-check-label ms-2" for="accessibility-14">
							Automatic doors
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-15">
						<label class="form-check-label ms-2" for="accessibility-15">
							Grab bars in the bathroom
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-16">
						<label class="form-check-label ms-2" for="accessibility-16">
							Wide doorways
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-17">
						<label class="form-check-label ms-2" for="accessibility-17">
							Lowered switches
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="accessibility-18">
						<label class="form-check-label ms-2" for="accessibility-18">
							Accessible curtains
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> *@
@* <div class="card shadow-none" id="room_types">
	<div class="card-header">
		<div class="d-flex align-items-center justify-content-between">
			<h5 class="fs-18">Room Types</h5>
		</div>
	</div>
	<div class="card-body pb-1">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-1">
						<label class="form-check-label ms-2" for="room-1">
							Single Room
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-2">
						<label class="form-check-label ms-2" for="room-2">
							Double Room
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-3">
						<label class="form-check-label ms-2" for="room-3">
							Twin Room
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-4">
						<label class="form-check-label ms-2" for="room-4">
							Deluxe Room
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-5">
						<label class="form-check-label ms-2" for="room-5">
							Suite
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-6">
						<label class="form-check-label ms-2" for="room-6">
							Junior Suite
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-7">
						<label class="form-check-label ms-2" for="room-7">
							Family Room
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-8">
						<label class="form-check-label ms-2" for="room-8">
							Connecting Rooms
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-9">
						<label class="form-check-label ms-2" for="room-9">
							Accessible Room
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-10">
						<label class="form-check-label ms-2" for="room-10">
							Studio Room
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-11">
						<label class="form-check-label ms-2" for="room-11">
							Penthouse
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-12">
						<label class="form-check-label ms-2" for="room-12">
							Villa
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-13">
						<label class="form-check-label ms-2" for="room-13">
							Economy Room
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-14">
						<label class="form-check-label ms-2" for="room-14">
							City View
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="room-15">
						<label class="form-check-label ms-2" for="room-15">
							Ocean View
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> *@
@* <div class="card shadow-none" id="popular_amenities">
	<div class="card-header">
		<div class="d-flex align-items-center justify-content-between">
			<h5 class="fs-18">Amenities</h5>
		</div>
	</div>
	<div class="card-body pb-1">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-1">
						<label class="form-check-label ms-2" for="amenities-1">
							Free Wi-Fi
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-2">
						<label class="form-check-label ms-2" for="amenities-2">
							Air Conditioning
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-3">
						<label class="form-check-label ms-2" for="amenities-3">
							Heater
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-4">
						<label class="form-check-label ms-2" for="amenities-4">
							TV (Cable/Satellite)
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-5">
						<label class="form-check-label ms-2" for="amenities-5">
							Coffee Maker
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-6">
						<label class="form-check-label ms-2" for="amenities-6">
							Mini Fridge
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-7">
						<label class="form-check-label ms-2" for="amenities-7">
							Safe Deposit Box
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-8">
						<label class="form-check-label ms-2" for="amenities-8">
							Iron/Ironing Board
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-9">
						<label class="form-check-label ms-2" for="amenities-9">
							Hair Dryer
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-10">
						<label class="form-check-label ms-2" for="amenities-10">
							Shower
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-11">
						<label class="form-check-label ms-2" for="amenities-11">
							Jacuzzi/Hot Tub
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-12">
						<label class="form-check-label ms-2" for="amenities-12">
							Microwave
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-3">
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-13">
						<label class="form-check-label ms-2" for="amenities-13">
							Bluetooth Speaker
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-14">
						<label class="form-check-label ms-2" for="amenities-14">
							Sofa/Seating Area
						</label>
					</div>
					<div class="form-check d-flex align-items-center ps-0 mb-2">
						<input class="form-check-input ms-0 mt-0" type="checkbox" id="amenities-15">
						<label class="form-check-label ms-2" for="amenities-15">
							Extra Pillows and Blankets
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> *@
@* <div class="card shadow-none" id="faq">
	<div class="card-header">
		<h5 class="fs-18">FAQ</h5>
	</div>
	<div class="card-body">
		<div class="card shadow-none mb-3">
			<div class="card-body px-3 py-2">
				<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
					<h6><a href="javascript:void(0);">Does offer free cancellation for a full refund?</a></h6>
					<div class="d-flex align-items-center">
						<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_faq" class="rounded-edit d-flex align-items-center justify-content-center me-2">
							<i class="isax isax-edit-2"></i>
						</a>
						<a href="javascript:void(0);" class="trash-icon d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete_modal">
							<i class="isax isax-trash text-danger"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow-none mb-3">
			<div class="card-body px-3 py-2">
				<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
					<h6><a href="javascript:void(0);">Is there a pool?</a></h6>
					<div class="d-flex align-items-center">
						<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_faq" class="rounded-edit d-flex align-items-center justify-content-center me-2">
							<i class="isax isax-edit-2"></i>
						</a>
						<a href="javascript:void(0);" class="trash-icon d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete_modal">
							<i class="isax isax-trash text-danger"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<a href="javascript:void(0);" class="btn btn-primary btn-sm add-highlight" data-bs-toggle="modal" data-bs-target="#add_faq">
				<i class="isax isax-add-circle me-1"></i>Add New
			</a>
		</div>
	</div>
</div> *@
@* <div class="card shadow-none" id="gallery">
	<div class="card-header">
		<h5 class="fs-18">Gallery</h5>
	</div>
	<div class="card-body">
		<div class="file-upload drag-file w-100 d-flex align-items-center justify-content-center flex-column mb-2">
			<span class="upload-img d-block mb-2"><i class="isax isax-document-upload fs-24"></i></span>
			<h6 class="mb-1">Upload Gallery Images</h6>
			<p class="mb-0">Upload Feature Image First, Image size should below 5MB</p>
			<input type="file" accept="video/image">
		</div>
		<div class="d-flex align-items-center">
			<a href="javascript:void(0);" class="gallery-upload-img me-2">
				<img src="~/img/uploads/upload-01.jpg" alt="Img">
				<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
			</a>
			<a href="javascript:void(0);" class="gallery-upload-img me-2">
				<img src="~/img/uploads/upload-02.jpg" alt="Img">
				<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
			</a>
			<a href="javascript:void(0);" class="gallery-upload-img me-2">
				<img src="~/img/uploads/upload-03.jpg" alt="Img">
				<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
			</a>
			<a href="javascript:void(0);" class="gallery-upload-img me-2">
				<img src="~/img/uploads/upload-04.jpg" alt="Img">
				<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
			</a>
			<a href="javascript:void(0);" class="gallery-upload-img me-2">
				<img src="~/img/uploads/upload-05.jpg" alt="Img">
				<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
			</a>
		</div>
	</div>
</div> *@
<div class="card shadow-none" id="description">
	<div class="card-header">
		<h5 class="fs-18">@Localizer["Description"]</h5>
	</div>
	<div class="card-body text-editor">
		<textarea asp-for="Description" class="summernote"></textarea>
	</div>
</div>