@{
	ViewData["Title"] = "Edit Hotel";
}

@model HotelViewModel;

<!-- Breadcrumb -->
<div class="breadcrumb-bar breadcrumb-bg-04 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">@Localizer["Edit Hotel"]</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="isax isax-home5"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Localizer["Edit Hotel"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Wrapper -->
<div class="content">
    <div class="container">
        @* <div class="place-nav">
            <ul class="nav" role="tablist">
                <li>
                    <a href="javascript:void(0);" class="nav-link active" data-bs-toggle="tab" data-bs-target="#add_hotel" aria-selected="true" role="tab">
                        Edit Hotel
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab" data-bs-target="#add_room" aria-selected="false" role="tab" tabindex="-1">
                        Edit Room
                    </a>
                </li>
            </ul>
        </div> *@
        <div class="tab-content">
            <div class="tab-pane fade active show" id="add_hotel" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 theiaStickySidebar">
                        <div class="card border-0 mb-4 mb-lg-0">
                            <div class="card-body">
                                <div>
                                    <h5 class="mb-3">@Localizer["Edit Hotel"]</h5>
                                    <ul class="add-tab-list">
                                        <li><a href="#basic_info" class="active">@Localizer["Basic Info"]</a></li>
                                        <li><a href="#location">@Localizer["Locations"]</a></li>
                                        @* <li><a href="#highlights">@Localizer["Highlights"]</a></li> *@
                                        @* <li><a href="#room_types">@Localizer["Room Types"]</a></li> *@
                                        @* <li><a href="#popular_amenities">@Localizer["Popular Amenities"]</a></li> *@
                                        @* <li><a href="#faq">@Localizer["FAQ"]</a></li> *@
                                        @* <li><a href="#gallery">@Localizer["Gallery"]</a></li> *@
                                        <li><a href="#description">@Localizer["Description"]</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <form method="post" asp-controller="Hotel" asp-action="Edit">
                            
                            @await Html.PartialAsync("_Form", Model)

                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="btn btn-light me-2">Reset</button>
                                <button type="submit" class="btn btn-primary">Add New Hotel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="add_room" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 theiaStickySidebar">
                        <div class="card border-0">
                            <div class="card-body">
                                <div>
                                    <h5 class="mb-3">Edit Room</h5>
                                    <ul class="add-tab-list">
                                        <li><a href="#basic_info_2" class="active">Basic Info</a></li>
                                        <li><a href="#description_2">Description</a></li>
                                        <li><a href="#specification">Specifications</a></li>
                                        <li><a href="#services">Services</a></li>
                                        <li><a href="#accssibilty">Accessibility</a></li>
                                        <li><a href="#popular_amenities_2">Amenities</a></li>
                                        <li><a href="#gallery_2">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <form method="post" asp-controller="Hotel" asp-action="Create">

                            @await Html.PartialAsync("_Form", Model)

                            <div class="d-flex align-items-center justify-content-center">
                                <a href="@Url.Action("Create", "Hotel")" class="btn btn-light me-2">@Localizer["Reset"]</a>
                                <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
