@{
	ViewData["Title"] = "Register";
	Layout = "_LayoutLogin";
}

@model RegisterViewModel


<div class="login-container">

	<a asp-controller="Account" asp-action="Login" class="back-arrow">
		<i class="fa fa-arrow-left"></i>
	</a>

	<div class="login-header">
		<img src="~/image/realize-full-blue-one-line.png" alt="Logo">
	</div>

	<form method="post" asp-controller="Account" asp-action="Register">
		<div class="mb-3">
			<label for="email" class="form-label">E-mail</label>
			<input type="email" name="username" class="form-control" placeholder="E-mail" required>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-2">
			<label for="password" class="form-label">@Localizer["Password"]</label>
			<input type="password" name="password" class="form-control" placeholder="@Localizer["Password"]" required>
			<span asp-validation-for="Password" class="text-danger"></span>

		</div>
		<div class="mb-2">
			<label for="ConfirmPassword" class="form-label">@Localizer["ConfirmPassword"]</label>
			<input type="password" name="password" class="form-control" placeholder="@Localizer["ConfirmPassword"]" required>
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

		</div>
		<br />
		<div class="d-grid mt-3">
			<button type="submit" class="btn btn-primary">@Localizer["SignUp"]</button>
		</div>

		@if (ViewData["ErrorMessage"] != null)
		{
			<br />
			<div class="alert alert-danger" role="alert">
				@ViewData["ErrorMessage"]
			</div>
		}
	</form>

	<div class="divider">
		OR
	</div>

	<div class="text-center mt-4 forgot-link">
		<span>Already have an account? <a asp-controller="Account" asp-action="Login">@Localizer["SignIn"]</a></span>
	</div>
</div>