@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

@model LoginViewModel;

<div class="login-container">

    <div class="login-header">
        <img src="~/image/realize-full-blue-one-line.png" alt="Logo">
    </div>

    <form method="post" asp-controller="Account" asp-action="Login">
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" name="email" class="form-control" placeholder="E-mail" required>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">@Localizer["Password"]</label>
            <input type="password" name="password" class="form-control" placeholder="@Localizer["Password"]" required>
        </div>
        <br />
        <div class="forgot-link">
            <a asp-controller="Account" asp-action="ForgotPassword">
                @Localizer["ForgotPassword"]
            </a>
        </div>
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary">@Localizer["SignIn"]</button>
        </div>

        @if (ViewData["ErrorMessage"] != null)
        {
            <br />
            <div class="alert alert-danger" role="alert">
                @ViewData["ErrorMessage"]
            </div>
        }

    </form>

    <div class="divider">
        @Localizer["Or"]
    </div>

    <div class="text-center mt-4 forgot-link">
        <span>@Localizer["DontHaveAccount"] <a asp-controller="Account" asp-action="Register">@Localizer["CreateOne"]</a></span>
    </div>
</div>