<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
	<link rel="icon" type="image/png" href="~/image/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="~/image/favicon.svg" />
	<link rel="shortcut icon" href="~/image/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="~/image/apple-touch-icon.png" />
	<link rel="manifest" href="~/image/site.webmanifest" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Realize Travel - @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/package.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/lib/fontawesome-free-6.7.1-web/css/all.min.css" />
	@*     <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style-admin.css" asp-append-version="true" /> *@
	<link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
@* 	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet"> *@

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-main">
			<div class="container-fluid">

				<a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/image/logo-1.png" alt="Logo" style="width: 16%;">
					@* Realize Travel *@
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarContent">

					<ul class="navbar-nav ms-auto d-flex">

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-solid fa-globe"></i> <b>@Localizer["Language"]</b>
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
								<li>
									<a class="dropdown-item" asp-controller="Language" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path">
										<i class="fa-solid fa-flag-usa"></i> English										
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-controller="Language" asp-action="SetLanguage" asp-route-culture="pt-BR" asp-route-returnUrl="@Context.Request.Path">
										<i class="fa-solid fa-flag"></i> Português
									</a>
								</li>
							</ul>
						</li>

						@if (User.Identity?.IsAuthenticated ?? false)
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-user-circle"></i> <b> @User.Identity.Name</b>
								</a>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
									<li>
										<form method="post" asp-action="Logout" asp-controller="Account" class="m-0">
											<button class="dropdown-item">
												<i class="fa-solid fa-user"></i> @Localizer["ManageAccount"]
											</button>
										</form>

									</li>
									<li>
										<form method="post" asp-action="Logout" asp-controller="Account" class="m-0">
											<button class="dropdown-item">
												<i class="fa-solid fa-calendar-check"></i> @Localizer["Bookings"]
											</button>
										</form>

									</li>
									<li>
										<form method="post" asp-action="Logout" asp-controller="Account" class="m-0">
											<button type="submit" class="dropdown-item">
												<i class="fa-solid fa-sign-out-alt"></i> @Localizer["Logout"]
											</button>
										</form>
									</li>
								</ul>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-white" href="@Url.Action("Login", "Account")">
									<i class="fa-solid fa-user-circle"></i> <b>@Localizer["Login"]</b>
								</a>
							</li>
						}
					</ul>

				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

    <footer class="site-footer footer-primary">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                            <h3 class="widget-title">
                                @Localizer["ABOUT"]
                            </h3>
                            <div class="textwidget widget-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                            </div>
                            <div class="award-img">
                                <!-- <a href="#"><img src="assets/images/logo6.png" alt=""></a>
                                <a href="#"><img src="assets/images/logo2.png" alt=""></a> -->
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                            <h3 class="widget-title">@Localizer["CONTACT INFORMATION"]</h3>
                            <div class="textwidget widget-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-phone-alt"></i> +01 (999) 9999 99
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-envelope"></i> email@domain.com
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> 9999 Rolling Hills, California
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_recent_post">
                            <h3 class="widget-title">@Localizer["HELP"]</h3>
                            <ul>
                                <li>
                                    <h5>
                                        <a href="#">Lorem ipsum dolor sit amet</a>
                                    </h5>
                                    <div class="entry-meta">
                                        <span class="post-on">
                                            <a href="#">August 21, 2024</a>
                                        </span>
                                        <span class="comments-link">
                                            <a href="#">No Comments</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <h5>
                                        <a href="#">Lorem ipsum dolor sit amet</a>
                                    </h5>
                                    <div class="entry-meta">
                                        <span class="post-on">
                                            <a href="#">August 21, 2024</a>
                                        </span>
                                        <span class="comments-link">
                                            <a href="#">No Comments</a>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_newslatter">
                            <h3 class="widget-title">@Localizer["SUBSCRIBE US"]</h3>
                            <div class="widget-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <br/>
                            <form class="newslatter-form">
                                <button type="button" class="btn btn-primary">@Localizer["SignIn"]</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttom-footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="footer-menu">
                            <ul>
                                <li>
                                    <a href="#">@Localizer["Privacy Policy"]</a>
                                </li>
                                <li>
                                    <a href="#">@Localizer["Term & Condition"]</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/images/Realize Travel-logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="copy-right text-right">Copyright © 2024 Realize Travel. @Localizer["All rights reserveds"]</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/datatables/datatables.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
