@{
	ViewData["Title"] = "Edit Car";
}

@model CarViewModel;

<!-- Breadcrumb -->
<div class="breadcrumb-bar breadcrumb-bg-04 text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12">
				<h2 class="breadcrumb-title mb-2">@Localizer["Edit Car"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="isax isax-home5"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">@Localizer["Edit Car"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<!-- Page Wrapper -->
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 theiaStickySidebar">
				<div class="card border-0 mb-4 mb-lg-0">
					<div class="card-body">
						<div>
							<h5 class="mb-3">@Localizer["Edit Car"]</h5>
							<ul class="add-tab-list">
								<li><a href="#basic_info" class="active">@Localizer["Basic Info"]</a></li>
								<li><a href="#specifications">@Localizer["Specifications"]</a></li>
								@* <li><a href="#additional_service">@Localizer["Additional Service"]</a></li> *@
								@* <li><a href="#features">@Localizer["Features"]</a></li> *@
								<li><a href="#location">@Localizer["Locations"]</a></li>
								@* <li><a href="#faq">@Localizer["FAQ"]</a></li> *@
								@* <li><a href="#gallery">@Localizer["Gallery"]</a></li> *@
								<li><a href="#description">@Localizer["Description"]</a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<form method="post" asp-controller="Car" asp-action="Edit">

					@await Html.PartialAsync("_Form", Model)

					<div class="d-flex align-items-center justify-content-center">
						<a href="@Url.Action("Edit", "Car", new { id = Model.Id })" class="btn btn-light me-2">@Localizer["Reset"]</a>
						<button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->
