@{
	ViewData["Title"] = "Create Flight";
}

@model FlightViewModel;

<!-- Breadcrumb -->
<div class="breadcrumb-bar breadcrumb-bg-04 text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12">
				<h2 class="breadcrumb-title mb-2">@Localizer["Add Flight"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="isax isax-home5"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">@Localizer["Add Flight"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<!-- Page Wrapper -->
<div class="content">
	<div class="container">
		@* <div class="place-nav">
            <ul class="nav" role="tablist">
                <li>
                    <a href="javascript:void(0);" class="nav-link active" data-bs-toggle="tab" data-bs-target="#add_flight" aria-selected="true" role="tab">
                        Add New Flight
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab" data-bs-target="#add_cabin" aria-selected="false" role="tab" tabindex="-1">
                        Add New Cabin
                    </a>
                </li>
            </ul>
        </div> *@
		<div class="tab-content">

			<!-- Add New Flight -->
			<div class="tab-pane fade active show" id="add_flight" role="tabpanel">
				<div class="row">

					<!-- Sidebar -->
					<div class="col-lg-3 theiaStickySidebar">
						<div class="card border-0 mb-4 mb-lg-0">
							<div class="card-body">
								<div>
									<h5 class="mb-3">Add Flight</h5>
									<ul class="add-tab-list">
										<li><a href="#basic_info" class="active">@Localizer["Basic Info"]</a></li>
										@* <li><a href="#specifications">@Localizer["Specifications"]</a></li> *@
										<li><a href="#departure">@Localizer["Arrival &Departure"]</a></li>
										<li><a href="#location">@Localizer["Locations"]</a></li>
										@* <li><a href="#additional_service">@Localizer["Additional Service"]</a></li> *@
										@* <li><a href="#amenties">@Localizer["Amenities"]</a></li> *@
										@* <li><a href="#faq">@Localizer["FAQ"]</a></li> *@
										@* <li><a href="#gallery">@Localizer["Gallery"]</a></li> *@
										<li><a href="#description">@Localizer["Description"]</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /Sidebar -->

					<div class="col-lg-9">
						<form method="post" asp-controller="Flight" asp-action="Create">

							@await Html.PartialAsync("_Form", Model)

							<div class="d-flex align-items-center justify-content-center">
								<a href="@Url.Action("Create", "Flight")" class="btn btn-light me-2">@Localizer["Reset"]</a>
								<button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Add New Flight -->
			<!-- Add New Cabin -->
			@* <div class="tab-pane fade" id="add_cabin" role="tabpanel">
				<div class="row">
					<div class="col-lg-3 theiaStickySidebar">
						<div class="card border-0 mb-4 mb-lg-0">
							<div class="card-body">
								<div>
									<h5 class="mb-3">Add Cabin</h5>
									<ul class="add-tab-list">
										<li><a href="#basic_info_2" class="active">Basic Info</a></li>
										<li><a href="#description_2">Description</a></li>
										<li><a href="#specification">Specifications</a></li>
										<li><a href="#popular_amenities_2">Amenities</a></li>
										<li><a href="#gallery_2">Gallery</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<form method="post" asp-controller="Flight" asp-action="Create">
							<div class="card shadow-none" id="basic_info_2">
								<div class="card-header">
									<div class="d-flex align-items-center justify-content-between">
										<h5 class="fs-18">Basic Info</h5>
									</div>
								</div>
								<div class="card-body pb-1">
									<div class="row">
										<div class="col-md-12">
											<div class="mb-3">
												<label class="form-label">Cabin Name</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Flight Name</label>
												<select class="select">
													<option>Select</option>
													<option>Antonov An-32</option>
													<option>SkyBound 102</option>
													<option>Nimbus 345</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Flight Number</label>
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card shadow-none" id="description_2">
								<div class="card-header">
									<h5 class="fs-18">Description</h5>
								</div>
								<div class="card-body text-editor">
									<div class="summernote">
									</div>
								</div>
							</div>
							<div class="card shadow-none" id="specification">
								<div class="card-header">
									<div class="d-flex align-items-center justify-content-between">
										<h5 class="fs-18">Specifications</h5>
									</div>
								</div>
								<div class="card-body pb-1">
									<div class="row">
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Maximum Occupancy</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Cabin Size</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Seat Type</label>
												<select class="select">
													<option>Select</option>
													<option>Economy</option>
													<option>Business Class</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Price Per Night</label>
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card shadow-none" id="popular_amenities_2">
								<div class="card-header">
									<div class="d-flex align-items-center justify-content-between">
										<h5 class="fs-18">Amenities</h5>
									</div>
								</div>
								<div class="card-body pb-2">
									<div class="row gy-2">
										<div class="col-lg-4 col-md-6">
											<h6 class="fs-16 mb-2">Seating Comfort</h6>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-1">
												<label class="form-check-label ms-2" for="service-1">
													Adjustable headrests
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-2">
												<label class="form-check-label ms-2" for="service-2">
													Extra legroom seats
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-3">
												<label class="form-check-label ms-2" for="service-3">
													Privacy dividers
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-4">
												<label class="form-check-label ms-2" for="service-4">
													Reclining seats
												</label>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<h6 class="fs-16 mb-2">Entertainment</h6>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-7">
												<label class="form-check-label ms-2" for="service-7">
													Music and radio channels
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-8">
												<label class="form-check-label ms-2" for="service-8">
													Noise-canceling headphones
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-9">
												<label class="form-check-label ms-2" for="service-9">
													Personal seatback screens
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-11">
												<label class="form-check-label ms-2" for="service-11">
													Video games
												</label>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<h6 class="fs-16 mb-2">Connectivity</h6>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-13">
												<label class="form-check-label ms-2" for="service-13">
													In-flight Wi-Fi
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-14">
												<label class="form-check-label ms-2" for="service-14">
													Charging ports
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-15">
												<label class="form-check-label ms-2" for="service-15">
													Power outlets for laptops
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-16">
												<label class="form-check-label ms-2" for="service-16">
													Bluetooth headphone pairing
												</label>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<h6 class="fs-16 mb-2">Dining</h6>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-18">
												<label class="form-check-label ms-2" for="service-18">
													Beverages
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-19">
												<label class="form-check-label ms-2" for="service-19">
													Snacks and refreshments
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-20">
												<label class="form-check-label ms-2" for="service-20">
													Complimentary meals
												</label>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<h6 class="fs-16 mb-2">Bedding & Comfort</h6>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-23">
												<label class="form-check-label ms-2" for="service-23">
													Pillows and blankets
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-24">
												<label class="form-check-label ms-2" for="service-24">
													Sleep masks
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-25">
												<label class="form-check-label ms-2" for="service-25">
													Earplugs
												</label>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<h6 class="fs-16 mb-2">Accessibility Features</h6>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-28">
												<label class="form-check-label ms-2" for="service-28">
													Wheelchair access
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-29">
												<label class="form-check-label ms-2" for="service-29">
													Braille seat numbers
												</label>
											</div>
											<div class="form-check d-flex align-items-center ps-0 mb-2">
												<input class="form-check-input ms-0 mt-0" type="checkbox" id="service-30">
												<label class="form-check-label ms-2" for="service-30">
													Accessible restrooms
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card shadow-none" id="gallery_2">
								<div class="card-header">
									<h5 class="fs-18">Gallery</h5>
								</div>
								<div class="card-body">
									<div class="file-upload drag-file w-100 d-flex align-items-center justify-content-center flex-column mb-2">
										<span class="upload-img d-block mb-2"><i class="isax isax-document-upload fs-24"></i></span>
										<h6 class="mb-1">Upload Gallery Images</h6>
										<p class="mb-0">Upload Feature Image First, Image size should below 5MB</p>
										<input type="file" accept="video/image">
									</div>
									<div class="d-flex align-items-center">
										<a href="javascript:void(0);" class="gallery-upload-img me-2">
											<img src="~/img/uploads/upload-01.jpg" alt="Img">
											<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
										</a>
										<a href="javascript:void(0);" class="gallery-upload-img me-2">
											<img src="~/img/uploads/upload-02.jpg" alt="Img">
											<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
										</a>
										<a href="javascript:void(0);" class="gallery-upload-img me-2">
											<img src="~/img/uploads/upload-03.jpg" alt="Img">
											<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
										</a>
										<a href="javascript:void(0);" class="gallery-upload-img me-2">
											<img src="~/img/uploads/upload-04.jpg" alt="Img">
											<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
										</a>
										<a href="javascript:void(0);" class="gallery-upload-img me-2">
											<img src="~/img/uploads/upload-05.jpg" alt="Img">
											<span class="trash-icon d-flex align-items-center justify-content-center text-danger gallery-trash"><i class="isax isax-trash"></i></span>
										</a>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center justify-content-center">
								<button type="button" class="btn btn-light me-2">Reset</button>
								<button type="submit" class="btn btn-primary">Add New Room</button>
							</div>
						</form>
					</div>
				</div>
			</div> *@
			<!-- /Add New Cabin -->

		</div>
	</div>
</div>
<!-- /Page Wrapper -->