@{
	ViewData["Title"] = "Flight";
}

@model FlightViewModel;

<!-- Breadcrumb -->
<div class="breadcrumb-bar breadcrumb-bg-04 text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12">
				<h2 class="breadcrumb-title mb-2">@Localizer["Flight List"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="isax isax-grid-55"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">@Localizer["Flight List"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<!-- Page Wrapper -->
<div class="content">
	<div class="container">

		<div class="row">

			<!-- Hotel Booking -->
			<div class="col-xl-12 col-lg-12 theiaStickySidebar">

				<!-- Booking Header -->
				<div class="card booking-header border-0">
					<div class="card-body header-content d-flex align-items-center justify-content-between flex-wrap ">
						<div>
							<h6 class="mb-1">Flight List</h6>
							<p class="fs-14 text-gray-6 fw-normal ">Total : @Model.Total</p>
						</div>
						<div class="d-flex align-items-center flex-wrap">
							<button onclick="window.location.href='@Url.Action("Create", "Flight")'" class="btn btn-primary btn-sm add-highlight">
								<i class="isax isax-add-circle me-1"></i> @Localizer["Add New"]
							</button>
						</div>
					</div>

				</div>
				<!-- /Booking Header -->
				<!-- Flight Booking List -->
				<div class="card hotel-list">
					<div class="card-body p-0">
						@* <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
							<div class="d-flex align-items-center flex-wrap">
								<div class="input-icon-start  me-2 position-relative">
									<span class="icon-addon">
										<i class="isax isax-search-normal-1 fs-14"></i>
									</span>
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<div class="dropdown me-3">
									<a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
										Ticket Type
									</a>
									<ul class="dropdown-menu dropdown-menu-end p-3">
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Business Class</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Economy</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Fare Economy</a>
										</li>
									</ul>
								</div>
								<div class="dropdown me-3">
									<a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
										Status
									</a>
									<ul class="dropdown-menu dropdown-menu-end p-3">
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Upcoming</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Cancelled</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Completed</a>
										</li>
									</ul>
								</div>
								<div class="d-flex align-items-center sort-by">
									<span class="fs-14 text-gray-9 fw-medium">Sort By :</span>
									<div class="dropdown">
										<a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
											Recommended
										</a>
										<ul class="dropdown-menu dropdown-menu-end p-3">
											<li>
												<a href="javascript:void(0);" class="dropdown-item rounded-1">Recently Added</a>
											</li>
											<li>
												<a href="javascript:void(0);" class="dropdown-item rounded-1">Ascending</a>
											</li>
											<li>
												<a href="javascript:void(0);" class="dropdown-item rounded-1">Desending</a>
											</li>
											<li>
												<a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a>
											</li>
											<li>
												<a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div> *@

						<!-- Hotel List -->
						<div class="custom-datatable-filter table-responsive">
							<table class="table datatable">
								<thead class="thead-light">
									<tr>
										<th>@Localizer["ID"]</th>
										<th>@Localizer["Flight"]</th>
										<th>@Localizer["Created By"]</th>
										<th>@Localizer["Ticket"]</th>
										<th>@Localizer["From - To"]</th>
										<th>@Localizer["Pricing"]</th>
										<th>@Localizer["Number"]</th>
										<th>@Localizer["Status"]</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Itens)
									{
										<tr>
											<td><a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#upcoming">#@item.Id</a></td>
											<td>
												<div class="d-flex align-items-center">
													<div>
														<p class="text-dark mb-0 fw-medium fs-14"><a href="javascript:void(0);">@item.Name</a></p>
														<span class="fs-14 fw-normal text-gray-6">@item.Airline</span>
													</div>
												</div>
											</td>
											<td>
												<h6 class="fs-14 mb-1">@item.CreatedById</h6>
												<span class="fs-14 fw-normal text-gray-6">@item.CreatedOn.ToShortDateString()</span>
											</td>
											<td>
												<h6 class="fs-14 mb-1">@item.Type</h6>
												<span class="fs-14 fw-normal text-gray-6">@item.AvailableSpots @Localizer["Spots"]</span>
											</td>
											<td>@item.From - @item.To</td>
											<td>$@item.Price</td>
											<td>@item.Number</td>
											<td>
												<span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>@(item.Active ? @Localizer["Active"] : @Localizer["Inactive"])</span>
											</td>
											<td>
												<div class="d-flex align-items-center">
													<a href="@Url.Action("Edit", "Flight", new { id = @item.Id })"><i class="isax isax-edit-2"></i></a>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /Hotel List -->

					</div>
				</div>
				<!-- /Flight Booking List -->

				<div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
					@* <div class="value d-flex align-items-center">
						<span>@Localizer["Show"]</span>
						<select>
							<option>5</option>
							<option>10</option>
							<option>20</option>
						</select>
						<span>@Localizer["entries"]</span>
					</div> *@
					<div class="d-flex align-items-center justify-content-center">
						<a href="javascript:void(0);"><span class="me-3"><i class="isax isax-arrow-left-2"></i></span></a>
						<nav aria-label="Page navigation">
							<ul class="paginations d-flex justify-content-center align-items-center">
								<li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
								<li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
								<li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
							</ul>
						</nav>
						<a href="javascript:void(0);"><span class="ms-3"><i class="isax isax-arrow-right-3"></i></span></a>
					</div>
				</div>
			</div>
			<!-- /Hotel Booking -->
		</div>
	</div>
</div>
<!-- /Page Wrapper -->